<!-- jobs/templates/jobs/base.html -->

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}CareerHorizon{% endblock %}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'job_list' %}">CareerHorizon</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'job_list' %}">Home</a>
                </li>
                {% if user.is_authenticated %}
                    {% if user.user_type == 'HR' %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'post_job' %}">Post Job</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'user_dashboard' %}">Posted Jobs</a>
                        </li>
                    {% elif user.user_type == 'Candidate' %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'user_dashboard' %}">Applied Jobs</a>
                        </li>
                    {% endif %}
                {% endif %}
            </ul>
            {% if user.is_authenticated %}
                <form id="logout-form" action="{% url 'logout' %}" method="post" class="form-inline my-2 my-lg-0">
                    {% csrf_token %}
                    <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Logout</button>
                </form>
            {% else %}
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                </ul>
            {% endif %}
        </div>
    </nav>
    <div class="container mt-4">
        {% block content %}{% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
