<!-- jobs/templates/jobs/base.html -->

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}CareerHorizon{% endblock %}</title>
</head>
<body>
    <nav>
        {% if user.is_authenticated %}
            <a href="{% url 'job_list' %}">Home</a>
            <a href="{% url 'post_job' %}">Post a Job</a>
            <form id="logout-form" action="{% url 'logout' %}" method="post" style="display: inline;">
                {% csrf_token %}
                <button type="submit" style="background:none; border:none; color:blue; cursor:pointer; padding:0; margin:0;">Logout</button>
            </form>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'register' %}">Register</a>
        {% endif %}
    </nav>
    {% block content %}{% endblock %}
</body>
</html>
