{% extends 'jobs/base.html' %}

{% block title %}About Us{% endblock %}

{% block content %}
<section class="container mt-5">
    <div class="about-container">
        <!-- <div class="circle circle-one"></div> -->
        <div class="content-container">
            <h1>About CareerHorizon</h1>
            <p>Welcome to CareerHorizon. We are dedicated to connecting job seekers with their dream jobs and helping recruiters find the best talent.</p>
            <p>CareerHorizon LLC is an innovative company dedicated to consolidating job vacancies from various Azerbaijani job posting websites and providing a comprehensive platform for users to access these opportunities. 
                CareerHorizon LLC operates a dynamic website, accessible at https://www.eploy.io/, which serves as a centralized hub for job seekers and human resources (HR) professionals in Azerbaijan. By aggregating job listings from multiple sources and enabling direct job postings by HR personnel, CareerHorizon LLC aims to streamline the job search process and enhance employment opportunities within the region.</p>
        </div>
    </div>
    <div class="theme-btn-container"></div>
</section>

<style>
    :root {
        --background: #f8f9fa;
        --color: #343a40;
        --primary-color: #007bff;
    }

    * {
        box-sizing: border-box;
    }

    html {
        scroll-behavior: smooth;
    }

    body {
        margin: 0;
        font-family: "Poppins", sans-serif;
        background: var(--background);
        color: var(--color);
        transition: background 0.2s ease;
    }

    a {
        text-decoration: none;
        color: var(--color);
    }

    h1 {
        font-size: 2rem;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .about-container {
        position: relative;
        max-width: 800px;
        width: 100%;
        padding: 1rem;
    }

    .content-container {
        border: 1px solid #ced4da;
        box-shadow: 0 0 36px 1px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        padding: 2rem;
        background-color: #ffffff;
    }

    .circle {
        width: 6rem;
        height: 6rem;
        background: var(--primary-color);
        border-radius: 50%;
        position: absolute;
    }

    .circle-one {
        top: 0;
        left: 0;
        transform: translate(-45%, -45%);
    }

    .circle-two {
        bottom: 0;
        right: 0;
        transform: translate(45%, 45%);
    }

    .opacity {
        opacity: 0.8;
    }

    .theme-btn-container {
        position: absolute;
        left: 0;
        bottom: 1rem;
    }

    .theme-btn {
        cursor: pointer;
        transition: transform 0.3s ease-in;
    }

    .theme-btn:hover {
        transform: scale(1.2);
    }
</style>

{% endblock %}
