{% extends 'jobs/base.html' %}

{% block title %}Applicants for {{ job.title }}{% endblock %}

{% block content %}
<section class="container">
    <h1>Applicants for {{ job.title }}</h1>
    <h3>Company: {{ job.company }}</h3>
    <h3>Location: {{ job.location }}</h3>
    <p>{{ job.description }}</p>
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Full Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Match Score</th>
                <th>Resume</th>
                <th>Apply Date</th>
            </tr>
        </thead>
        <tbody>
            {% for application in applications %}
            <tr>
                <td>{{ application.full_name }}</td>
                <td>{{ application.email }}</td>
                <td>{{ application.phone }}</td>
                <td>
                    {% if application.match_score is not None %}
                        {{ application.match_score_percentage }}%
                    {% else %}
                        N/A
                    {% endif %}
                </td>
                <td>
                    {% if application.resume %}
                        <a href="{{ application.resume.url }}" target="_blank">Download Resume</a>
                    {% else %}
                        No Resume Uploaded
                    {% endif %}
                </td>
                <td>{{ application.applied_at|date:"F j, Y, g:i a" }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    

    <!-- Pagination controls -->
    <nav aria-label="Applicants navigation">
        <ul class="pagination">
            {% if applications.has_previous %}
            <li class="page-item"><a class="page-link" href="?applications_page={{ applications.previous_page_number }}">Previous</a></li>
            {% endif %}
            <li class="page-item disabled"><span class="page-link">Page {{ applications.number }} of {{ applications.paginator.num_pages }}</span></li>
            {% if applications.has_next %}
            <li class="page-item"><a class="page-link" href="?applications_page={{ applications.next_page_number }}">Next</a></li>
            {% endif %}
        </ul>
    </nav>
</section>
{% endblock %}
